* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.table {
    width: 90vw;
    height: 80vh;
    background-color: #4e5b61;
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.header {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    color: white;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.blinds {
    font-size: 1.5rem;
}

.seats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 70%;
}

.seat {
    width: 100px;
    height: 40px;
    background-color: #b0c4b1;
    color: white;
    font-size: 1rem;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seat:hover {
    background-color: #5cb85c;
}

.top {
    position: absolute;
    top: 10px;
}

.bottom {
    position: absolute;
    bottom: 10px;
}

.center-message {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
}

.center-message p {
    font-size: 1.5rem;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #4e5b61;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.modal input {
    background-color: #5f6d6b;
    border: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    width: 80%;
}

.modal button {
    background-color: #28a745;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #218838;
}
